
@font-face {
  font-family: "GTWalsheim-Bold";
  src: url("../fonts/GTWalsheim-Bold.TTF"),
}

@font-face {
  font-family: "GTWalsheim-Regular";
  src: url("../fonts/GTWalsheim-Regular.ttf"),
}

body {
  font-family: 'GTWalsheim-Bold';
  background-image: url("../background-header.jpg");
  background-attachment: fixed;
  overflow-x: hidden;

  a, a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  position: relative;
  overflow: hidden;
  padding-top: 120px;
  z-index: 1;
}

.color-red {
  color: #FF4E50;
}

strong {
  font-family: GTWalsheim-Bold;
}

.page-enter-active, .page-leave-active {
  transition: all 0.7s ease-in-out;

}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}

.layout-enter-active, .layout-leave-active {
  transition: all 1s ease-in-out;
}
.layout-enter, .layout-leave-active {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}










