
@font-face {
  font-family: "GTWalsheim-Bold";
  src: url("../fonts/GTWalsheim-Bold.ttf"),
}

@font-face {
  font-family: "GTWalsheim-Regular";
  src: url("../fonts/GTWalsheim-Regular.ttf"),
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

body {
  font-family: 'GTWalsheim-Bold';
  background-image: url("../background-header.jpg");
  background-attachment: fixed;
  overflow-x: hidden;

  &:after {
    left: -500%;
    top: -500%;
    content: "";
    animation: grain 12s steps(10) infinite;
    /* The grainy image */
    background-image: url("../images/noise2.png");
    /* Specify a height and width above and beyond the page header for movement */
    height: 1000%;
    width: 1000%;
    /* We're using opacity in place of a transparent image */
    opacity: 0.4;
    /* We'll need this when the animation kicks in to hold the position of the texture */
    position: fixed;
  }

  a, a:visited {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  position: relative;
  overflow: hidden;
  padding-top: 120px;

  @media all and (max-width: 767px) {
    margin-top: -120px;
  }
}

.color-red {
  color: #FF4E50;
}

strong {
  font-family: GTWalsheim-Bold;
}

.page-enter-active, .page-leave-active {
  transition: all 0.7s ease-in-out;

}
.page-enter, .page-leave-active {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}

.layout-enter-active, .layout-leave-active {
  transition: all 1s ease-in-out;
}
.layout-enter, .layout-leave-active {
  opacity: 0;
  transform: translateY(-2%);
  transform-origin: 50% 50%;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}










